.mainHeader {
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: slategray;
}

div.sideBarHeader {
    font-size: large;
        border-bottom: 2px solid slategray;
    font-weight: bold;
        margin-bottom: 15px;
}

div.sideBar {
       color: #777777; 
    text-align: center;

}

#contactLink {
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    
}
a {
    text-decoration: none;
}
